<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Display Page</title>
    <link rel="stylesheet" href="chat.css">
  </head>
  <body>

      <ul>
          <li><a href="">PROFILE</a></li>
          <li><a href="">CLASS CHAT</a></li>
          <li><a href="">GROUP CHAT</a></li>
          <li><a href="">NOTES</a></li>
          <li><a href="">NOTICES</a></li>
      </ul>
      <form class="box" action="index.html" method="post">
        <input type="text" placeholder="TYPE YOUR MESSAGE HERE" name="" value="">
        <input type="button" name="" value="Send">
      </form>
      <textarea rows="4" cols="50" class="chat">
        chats will be displayed here
</textarea>


  </body>
</html>
