<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Transparent Login Form</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="login-box">
      <div align="center"><h1>Login</h1></div>
      <form action="/" method = "POST">
      <div class="textbox">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" placeholder="Name" name="name" value="">
        </div>
        <div class="textbox">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input type="text" placeholder="Roll num" name="roll" value="">
          </div>
        <div class="textbox">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="text" placeholder="E-mail" name="email" value="">
          </div>
      <div class="textbox">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" placeholder="Contact No." name="phone" value="">
        </div>
        <div class="textbox">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input type="text" placeholder="Branch" name="branch" value="">
          </div>
      <div class= "textbox">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type= "text" placeholder="Password" name="password" value="">
    </div>
    <div class= "textbox">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <input type= "text" placeholder="Confirm Password" name="passwordConf" value="">
  </div>
  <input type="submit" value="Sign UP">
  </div>
</form>
<form action="/" method="POST">
  <div class="textbox">
    <i class="fa fa-user" aria-hidden="true"></i>
    <input type="text" placeholder="Email" name="logemail" value="">
    </div>
    <div class="textbox">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" placeholder="Password" name="logpassword" value="">
      </div>
    </div>
    <input type="submit" value="Log IN">
  </div>
</form>
  </body>
</html>
